@mixin bgPosition($spriteWidth, $spriteHeight, $iconWidth, $iconHeight, $iconX, $iconY){
  background-position: (($iconX / ($spriteWidth - $iconWidth)) * 100% ($iconY / ($spriteHeight - $iconHeight)) * 100%);
}
@mixin boxSizing($value){
  box-sizing: $value;
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
}
@mixin borderRadius($value){
  border-radius:$value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
}
@mixin flexible($value){
  -webkit-box-flex: $value;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $value;         /* OLD - Firefox 19- */
  -webkit-flex: $value;          /* Chrome */
  -ms-flex: $value;              /* IE 10 */
  flex: $value;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
@mixin bgImage($url){
  background:url($url) no-repeat;
  background-size:100% 100%;
}