<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>覆盖查询</title>
    <link rel="stylesheet" href="../res/common/css/base.css"/>
    <link rel="stylesheet" href="../res/common/css/common.css"/>
    <link rel="stylesheet" href="../res/css/cover_search.css"/>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="position_search">
            <input type="text" name="position" value="兰苑小区"/>
        </div>
        <p class="prompt">
            温馨提示：请输入小区正确名称进行搜索，<br>如无法搜到小区名称，则暂时为覆盖该小区。
        </p>
    </div>
    <div class="main">
        <div class="main_content">
            <div class="position_result">
                <ul>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>
                    <li>·福田（已覆盖241个小区）</li>

                </ul>
                <div class="register">
                   <div>
                       <button class="btn">办理登记</button>
                   </div>
                </div>
            </div>
            <div class="footer">
                <div class="server">
                    <span class="server_logo sprite_img"></span>
                    <span class="server_text">在线客服</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../res/common/js/rem.js"></script>
</html>