<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>移动宽带优惠办</title>
    <link rel="stylesheet" href="../res/common/css/base.css"/>
    <link rel="stylesheet" href="../res/common/css/common.css"/>
    <link rel="stylesheet" href="../res/css/discount_search.css"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="inter">
                <span class="inter_title title">百兆宽带零元起</span>
                <p class="inter_detail detail">
                    承诺办理一年期58元及以上4G套餐，可以免预存获赠家宽业务优惠
                    体验一年，或可以优惠办理其他档次的宽带套餐。<br>
                    具体宽带资费如下：
                </p>
                <div class="inter_table">
                    <table>
                        <thead>
                            <tr >
                                <td rowspan="2" class="success">承诺办理的<br>4G套餐（元）</td>
                                <td  colspan="3" class="success">宽带/支付月租费用</td>
                            </tr>
                            <tr>
                                <td class="success">20M</td>
                                <td class="success">50M</td>
                                <td class="success">100M</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="success">58</td>
                            <td class="warm">0</td>
                            <td class="warm">30元/月</td>
                            <td class="warm">50元/月</td>
                        </tr>
                        <tr>
                            <td class="success">88</td>
                            <td class="warm">0</td>
                            <td class="warm">10元/月</td>
                            <td class="warm">30元/月</td>
                        </tr>
                        <tr>
                            <td class="success">128/138/158</td>
                            <td class="warm">0</td>
                            <td class="warm">0</td>
                            <td class="warm">10元/月</td>
                        </tr>
                        <tr>
                            <td class="success">188（及以上）</td>
                            <td class="warm">0</td>
                            <td class="warm">0</td>
                            <td class="warm">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="business_type">
                    <div class="tv">
                        <span class="tv_title title">宽带电视免费看一年</span>
                        <p class="tv_detail detail">
                            办理20M以上宽带开户或续约的客户，可免费使用宽带电视业务1年。
                        </p>
                    </div>
                    <div class="bill">
                        <span class="bill_title title">50元话费等你抢</span>
                        <p class="bill_detail detail">
                            成功办理家宽客户，可在次月一次性获赠50元话费。
                        </p>
                    </div>
                    <div class="card">
                        <span class="card_title title">送万能副卡一张</span>
                        <p class="card_detail detail">
                            宽带安装成功后，可免费获赠万能副卡一张，万能副卡激活后可减免
                            12个月副卡功能费，并加送1.1G省内通用流量。
                        </p>
                    </div>
                    <div class="prompt">
                        <span class="prompt_title title">温馨提示</span>
                        <div class="prompt_detail detail">
                           <ul>
                                <li>以上优惠仅针对已具备移动宽带开通条件的社区内全品牌4G套餐客户。</li>
                                <li>活动时间：2017年1月1日-2017年3月31日;</li>
                                <li>预约办理成功后，5个工作日內将有专人联系您确认办理；</li>
                                <li>本活动不含388宽带客户、集团代付客户，随心王和无限量用户不可办理；</li>
                                <li>具体业务规则请参见业务办理详情页面。</li>
                                <li>宽带电视和万能副卡具体业务规则和优惠可咨询上门装维人员、就近移动营业厅或拨打10086。</li>
                           </ul>
                        </div>
                    </div>
                    <div class="register">
                        <div>
                            <button class="btn">立即办理</button>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="server">
                        <span class="server_logo sprite_img"></span>
                        <span class="server_text">在线客服</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../res/common/js/rem.js"></script>
</html>