<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <title>移动宽带优惠办</title>
    <link rel="stylesheet" href="../res/common/css/base.css"/>
    <link rel="stylesheet" href="../res/common/css/common.css"/>
    <link rel="stylesheet" href="../res/css/index.css"/>
</head>
<body>
    <div class="container" id="app">
        <div class="header">
            <img src="../res/img/index/gift.jpg" alt=""/>
        </div>
        <div class="main">
            <div class="nav">
                <ul class="flex">
                    <li>
                        <a href="broadband_manage.html">
                            <span class="register nav_logo sprite_img"></span>
                            <br>
                            <span>办理登记</span>
                        </a>
                    </li>
                    <li>
                        <a href="discount_search.html">
                            <span class="discount nav_logo sprite_img"></span>
                            <br>
                            <span>优惠查询</span>
                            <span class="hot sprite_img"></span>
                        </a>
                    </li>
                    <li>
                        <a href="cover_search.html">
                            <span class="position nav_logo sprite_img"></span>
                            <br>
                            <span>覆盖查询</span>
                        </a>
                    </li>
                    <li>
                        <a href="my_broadband.html">
                            <span class="user nav_logo sprite_img"></span>
                            <br>
                            <span>我的宽带</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rules">
            <div class="content">
                <div class="content_main">
                    <h2>活动规则</h2>
                    <div class="rule">
                        <p class="title">一、活动时间：</p>
                        <p class="text">2017年1月1日----3月31日</p>
                        <p class="title">二、活动内容：</p>
                        <p class="text">A.承诺办理一年期58元以上4G套餐，可以免预存获赠家宽业务优惠体验一年，或可优惠办理其他档次的家宽套餐。</p>
                        <p class="text">B.安装成功后，次月可一次性获得50元话费。</p>
                        <p class="text">C.宽带办理成功后，可获赠万能副卡一张。</p>
                        <p class="text">D.办理20M以上宽带开户或续约的客户，可免费使用宽带电视业务一年。</p>
                    </div>
                    <div class="prompt">
                        <p class="prompt_title title">温馨提示：</p>
                        <p class="text">1.预约办理成功后，5个工作日内将有专人联系您确认办理；</p>
                        <p class="text">2.本活动不含388宽带客户，随心王和无限量用户不可办理；</p>
                        <p class="text">3.具体业务规则请参见业务办理详情页面。</p>
                    </div>
                </div>
                <div class="footer">
                    <div class="server">
                        <span class="server_logo sprite_img"></span>
                        <span class="server_text">在线客服</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../res/common/js/rem.js"></script>
</html>